$mobile: 375px;
$desktop: 1440px;
$darkCyan: hsl(185, 75%, 39%);
$darkGray: hsl(0, 0%, 59%);

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(0, 11%, 12%);
}

section {
  background-color: $darkCyan;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  width: 350px;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.card-header {
  background-image: url("../images/bg-pattern-card.svg");
  background-size: cover;
  height: 150px;
}

.card-body {
  padding: 0 20px 25px;
}

.img-holder {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -65px auto 30px auto;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.name-age {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.age {
  margin-left: 6px;
}

.city {
  font-size: .9rem;
}

.age,
.city,
.meta {
  font-weight: 400;
  color: $darkGray;
}

.card-footer {
  border-top: 1px solid $darkGray;
  display: flex;
  padding: 0 25px;

  & .item {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .value {
      font-size: 1.1rem;
      margin-bottom: 6px;
    }

    & .meta {
      font-size: .6rem;
      letter-spacing: 1px;
    }
  }
}

.circles {

  & .c1, .c2 {
    position: absolute;
  }

  @media screen and (min-width: $mobile) {
    .c1 {
      width: 500px;
      top: -250px;
      left: -315px;
    }
    .c2 {
      width: 500px;
      bottom: -240px;
      right: -315px;
    }
  }

  @media screen and (min-width: $desktop) {
    .c1 {
      width: 1200px;
      top: -580px;
      left: -480px;
    }
    .c2 {
      width: 1200px;
      bottom: -725px;
      right: -390px;
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;

  & a {
    text-decoration: none;
  }
}